
canvas {
  box-shadow: -5px -5px 0 black, 5px -5px 0 black, -5px 5px 0 black,
    5px 5px 0 black;
    margin: 10px;
}

.container {
  margin: 10px;
}

.wrapper {
  overflow: hidden;
  border: 1px solid black !important;
  
}
.left {
  float:left;
}

.right {
  border: 1px solid black !important;
  color:black !important;
  float:left;
  margin: 10px;
  padding: 5px;
}

.bottom {
  float: left;
}