
.canvasContainer {
  width:320px;
}

canvas {
  box-shadow: -5px -5px 0 black, 5px -5px 0 black, -5px 5px 0 black,
    5px 5px 0 black;
    float: both; 
    margin: 10px;
    width: 300px;
    height: 300px;
}
.canvasContainer button {
  float: both;
  margin: 10px;
  width: 300px;
}

.container {
  margin: 10px;
}

.wrapper {
  overflow: hidden;
  border: 1px solid black !important;
  
}
.left {
  float:left;
}

.right {
  border: 1px solid black !important;
  color:black !important;
  float:left;
  margin: 10px;
  padding: 5px;
}

.bottom {
  float: left;
}