body {
  margin: 10px;
  background-color: #050505;
  padding: 20px;
  color:black;
}
body > div {
  padding:10px;
}
#root {
  background-color: gray;
}

.canvasContainer {
  width:320px;
}

canvas {
  box-shadow: -5px -5px 0 black, 5px -5px 0 black, -5px 5px 0 black,
    5px 5px 0 black;
    float: both; 
    margin: 10px;
    width: 300px;
    height: 300px;
}
.canvasContainer button {
  float: both;
  margin: 10px;
  width: 300px;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; 
}
.left {
  float:left;
  height: 100%;
}

.right {
  color:black !important;
  float:left;
  margin: 10px;
  padding: 5px;
}

.bottom {
  bottom: 0px;
  position: absolute;
}

button {
  margin:10px;
}

.newGame, .clearCanvas {
  background-color: yellow;
}

.startGameButton {
  background-color: darkorange;
}